body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.logo-block {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-top: 40px;
}
.logo {
  width: 150px;
  border: 1px solid black;
  border-radius: 50%;
}
.YMK-icon {
    position: relative;
    left: 50%;
    top: 50%;
}
